.shopcon {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bt {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gacha-button {
  background-color: rgba(255, 240, 222, 1);
  border: 2px solid rgba(255, 190, 133, 1);
  width: 30rem;
  height: 3rem;
  border-radius: 15px;
  color: rgba(254, 132, 1, 1);
}
.random {
  width: 550px;
  height: 550px;
  object-fit: contain;
}
.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
