.S-header {
  position: relative;
  width: 100vw;
  top: 0;
  left: 44px;
  display: flex;
  gap: 52px;
  color: #181f29;
}

.S-container {
  width: 100vw;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0px 4px 4px hsla(0, 0%, 47%, 8%);
}

.S-button {
  display: flex;
  gap: 52px;
  margin-left: 44px;
  /* font-size: 18px; */
}

.clickbutton {
  cursor: pointer;
  position: relative;
  padding-bottom: 20px;
  transition: all 0.2s ease;
}

.clickbutton::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  width: calc(100% + 48px);
  height: 3px;
  background-color: #fe8401;
  transition: 0.3s ease;
}

.clickbutton:hover::after,
.clickbutton.active::after {
  transform: translateX(-50%) scaleX(1);
}

.clickbutton:hover,
.clickbutton.active {
  color: #fe8401;
}
