* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bgGradient{
    background: linear-gradient(180deg, #fe8401, #fff2e4);
    color: white;
    padding: 32px;
}

.bgGradient h2{
    margin: 0;
    font-size: 58px;
    font-weight: bold;
    text-align: center;
    color: #f5f5f5;
}

.bgGradient p{
    margin: 8px 0 0 0;
    font-size: 18px;
    text-align: center;
    color: #f5f5f5;
}

.contents {
    font-size: 1rem;
    line-height: 1.6;
    color: #333333;
    font-family: Pretendard-Regular, sans-serif;
    padding: 0 8rem;
}

.contents h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
}

.noticeItem {
    font-family: Pretendard-Regular, sans-serif;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.noticeItem {
    font-family: Pretendard-Regular, sans-serif;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    background-color: #f9f9f9; /* 박스 배경 */
    padding: 1rem; /* summary + 본문 전체 여백 */

}

.noticeItem summary {
    list-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: transparent; /* summary 배경 제거 */
}

.noticeItem summary::-webkit-details-marker {
    display: none;
}

.arrow {
    transition: transform 0.3s;
}

.noticeItem[open] .arrow {
    transform: rotate(180deg);
}

.line {
    height: 1px;
    background: #ccc;
    margin: 0.5rem 0; /* summary와 본문 구분 */
}

.noticeItem p {
    margin: 0;
    padding: 0.3rem 0 0 0;
}

.moreQnA h3{
    text-align: center;
    margin-top: 2rem;
    font-size: 1.2rem;
    color: #fe9c32;
    cursor: pointer;
}

.moreQnA p{
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #666666;
    cursor: pointer;
}

.footer3 {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: black;
  color: white;
  padding: 40px;
}

.footer3 h2 {
  font-size: 40px;
  margin-bottom: 10px;
}
.D {
  color: white !important;
}
.D a {
  color: #969696;
  font-size: 14px;
  margin-bottom: 8px;
  text-decoration: none;
}
.footer3 p {
  color: #969696;
  font-size: 14px;
  margin-bottom: 8px;
}
hr {
  margin-bottom: 10px;
  background-color: #969696;
}
