.ShopGoods-main {
    margin: 40px 97px 0 97px;
    height: 785px;
    width: calc(100% - 474px);
    background-color: #ffffff;
    border-radius: 20px 20px 0 0;
    background-image: url('../../../img/MypageProfile/BackgroundImg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ShopGoods-container {
    width: 100%;
    min-height: 90vh;
    background-image: url('../../../img/MypageProfile/BackgroundImg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 40px 31px 120px 31px;
}

.develop-ShopGoods-main {
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.develop-ShopGoods-title {
    font-size: 48px;
    font-weight: 600;
    color: #181F29;
}