.mypage-profile-container {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.mypage-main {
    margin: 40px 97px 0 97px;
    height: 785px;
    width: calc(100% - 474px);
    background-color: #ffffff;
    border-radius: 20px 20px 0 0;
    background-image: url('../../../img/MypageProfile/BackgroundImg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.profile-setting-title {
    font-size: 28px;
    font-weight: 600;
    color: #181F29;
    margin: 44px 0 16px 44px;
}

.line {
    width: calc(100% - 80px);
    position: relative;
    left: 40px;
    height: 1px;
    background-color: #8C8989;
}

.profile-picture-title {
    font-size: 18px;
    font-weight: 400;
    color: #181F29;
    margin: 28px 0 8px 48px;
}

.profile-picture {
    width: 165px;
    height: 165px;
    border-radius: 50%;
    background-color: #D9D9D9;
    margin: 0 0 0 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.profile-icon {
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}