/* ...existing code... */

.Topbutton {
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: bold;
  position: relative;
}

/* 미디어 쿼리: 1024px 이하 */
@media (max-width: 1024px) {
  .Topbutton {
    font-size: 16px;
    padding: 4px 8px;
  }
  .maintitle {
    left: 4px;
    bottom: 20px;
  }
  p {
    font-size: 22px;
  }
}

/* 미디어 쿼리: 768px 이하 */
@media (max-width: 768px) {
  .Topbutton {
    font-size: 12px;
    padding: 2px 4px;
  }
  .maintitle {
    left: 2px;
    bottom: 10px;
  }
  p {
    font-size: 16px;
  }
}
.Start {
  color: #fe9c32;
  text-align: center;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.MainFrame{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}