.mypage-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.profile-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}