.lcon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 2rem;
}
.next {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 35%;
  right: 0rem;
}
.Ccon {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1;
  top: 0;
  left: 0;
}

.go {
  background-color: #fe8401;
  border: none;
  width: 7rem;
  height: 2.4rem;
  border-radius: 12px;
  font-size: 0.96rem;
}
.stop {
  background-color: #ffffff;
  border: none;
  width: 7rem;
  height: 2.4rem;
  border-radius: 12px;
  color: #fe8401;
  font-size: 0.96rem;
}
.realcon {
  background-color: white;
  border-radius: 30px;
  width: 19rem;
  height: 20rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
}

.cbox {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.m {
  width: 220px;
  height: 220px;
  object-fit: contain;
}
.textcom {
  width: 70%;
  text-align: center;
}

.random {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.lsubcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 1.5rem;
  top: 29%;
}
