.Qmaincon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Qcon {
  width: 100%;
  height: auto;
  display: flex;
  border: 2px #e5e5e5 solid;
  border-radius: 12px;
  min-height: 10rem;
  font-size: 1.5rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}
.Acon {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}
.AC {
  width: 100% !important;
  height: 4rem !important;
  border: 2px #e5e5e5 solid;
  border-radius: 12px;
  background-color: transparent;
  color: black;
  font-size: 1.3rem;
  font-weight: 500;
}
.TQcon {
  width: 100%;
  height: auto;
  display: flex;
  border: 2px #e5e5e5 solid;
  border-radius: 12px;
  min-height: 10rem;
  font-size: 1.5rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  border: 2px #94fd68 solid;
}
.TAC {
  border: 2px #94fd68 solid;
  width: 100% !important;
  height: 4rem !important;
  border-radius: 12px;
  background-color: transparent;
  color: black;
  font-size: 1.3rem;
  font-weight: 500;
}

.FAC {
  border: 2px #fd8d68 solid;
  width: 100% !important;
  height: 4rem !important;
  border-radius: 12px;
  background-color: transparent;
  color: black;
  font-size: 1.3rem;
  font-weight: 500;
}

.FQcon {
  width: 100%;
  height: auto;
  display: flex;
  border: 2px #e5e5e5 solid;
  border-radius: 12px;
  min-height: 10rem;
  font-size: 1.5rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  border: 2px #fd8d68 solid;
}
