<<<<<<< HEAD
/* 헤더 - 최상단 */
.header {
    width: 100%;
    height: 73px;
    background: black;
    display: flex;
    align-items: center;
    padding-left: 44px;
    gap: 52px;
    box-sizing: border-box;
    position: fixed; /* 화면 상단 고정 */
    top: 0;
    left: 0;
    z-index: 1000; /* nav 위 */
    justify-content: center;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-area div {
    font-size: 20px;
    font-weight: 700;
    color: #F5F5F5;}

.logo-area img {
    height: 36px;
}

.nav-tabs {
    width: 100%;
    height: 67px;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    padding-left: 44px;
    gap: 52px;
    box-sizing: border-box;
    position: fixed;
    top: 67px; 
    left: 0;
    z-index: 900; 
}

.nav-tabs span {
    cursor: pointer;
    padding-bottom: 5px;
    color: #222222;
    font-size: 18px;
}

.nav-tabs .active {
    border-bottom: 3px solid orange;
    font-weight: 600;
}

.nav-tabs span:hover {
    font-weight: 600;
}

=======
>>>>>>> 56c88d1c53e4dd06d6d1b1ec9a59c5df00d4042b
.user-management {
    font-family: 'Pretendard', sans-serif;
    background-color: #fff;
    min-height: 100vh;
    padding-top: 138px;
}

.search-bar {
    display: flex;
    align-items: center;
    background: #f8f8f8;
    margin: 20px 40px;
    padding: 10px 15px;
    border-radius: 6px;
}

.search-bar input {
    border: none;
    background: transparent;
    margin-left: 10px;
    width: 100%;
    font-size: 16px;
}

.search-bar input:focus {
    outline: none;
<<<<<<< HEAD
=======
    
>>>>>>> 56c88d1c53e4dd06d6d1b1ec9a59c5df00d4042b
}

.search-bar img {
    width: 14px;
    height: 14px;
}

.user-table {
    width: calc(100% - 80px);
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 16px;
}

.user-table th {
    padding: 12px 10px;
    border-bottom: 2px solid #ddd;
    text-align: center;
}
.user-table td {
    padding: 12px 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.status-banned {
    color: red;
    font-weight: 600;
}

.status-normal {
    color: #000;
    font-weight: 500;
}

.btn-status {
    background: #ff4d4d;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 6px 14px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
}

<<<<<<< HEAD
.btn-status.active {
    background: #bdbdbd;
=======
.btn-status:hover {
    background: #e74040;
}

.btn-status.active {
    background: #bdbdbd;
    cursor: not-allowed;
>>>>>>> 56c88d1c53e4dd06d6d1b1ec9a59c5df00d4042b
}

.btn-point {
    background: #ffa726;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 6px 14px;
<<<<<<< HEAD
    cursor: pointer;
=======
>>>>>>> 56c88d1c53e4dd06d6d1b1ec9a59c5df00d4042b
    text-align: center;
    font-size: 12px;
}

<<<<<<< HEAD
.btn-point.active {
    background: #bdbdbd;
=======
.btn-point:hover {
    background: #ec991e;
}

.btn-point.active {
    background: #bdbdbd;
    cursor: not-allowed;
>>>>>>> 56c88d1c53e4dd06d6d1b1ec9a59c5df00d4042b
}

.btn-recover {
    background: #bdbdbd;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 6px 14px;
<<<<<<< HEAD
    cursor: pointer;
    text-align: center;
    font-size: 12px;
=======
    text-align: center;
    font-size: 12px;
    cursor: not-allowed;
>>>>>>> 56c88d1c53e4dd06d6d1b1ec9a59c5df00d4042b
}

.btn-recover.active {
    background: #4caf50;
<<<<<<< HEAD
}
=======
    cursor: pointer;
}

.user-table tbody tr td[colspan] {
    padding: 40px 20px;
    color: #999;
    font-size: 15px;
}
>>>>>>> 56c88d1c53e4dd06d6d1b1ec9a59c5df00d4042b
