.fortitle {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 400;
}
.sub {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 4px;
}
.gh{
    background-color: #FE8401;
    border: none;
    width: 7rem;
    height: 2.4rem;
    border-radius: 12px;
}